/* header */

header.header {
  background: linear-gradient(
      to right,
      rgb(11 48 64) 0%,
      rgb(10 51 70) 22%,
      rgb(0, 0, 0, 0.2) 80%
    ),
    url(/assets/bg-header.png) no-repeat center 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  padding: 3rem;
}

header.header h1 {
  color: var(--white-medium);
  font-size: 2.2rem;
  font-style: italic;
  font-family: "Lexend", sans-serif;
}

header.header .login-icons {
  display: flex;
  color: var(--white-medium);
  gap: 2rem;
}

header.header .login-icons i {
  font-size: 3.2rem;
  display: flex;
}

header.header .login-icons i + i {
  border-left: 1px solid var(--white-medium);
  padding-left: 2rem;
}

header.header .login-icons .login-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: italic;
  font-family: "Lexend", sans-serif;
}

header.header .login-icons .login-info h3 {
  font-size: 1.6rem;
}

/* Sidebar */

main {
  display: flex;
}

main aside.sidebar {
  height: calc(100vh - 93.22px);
  background: linear-gradient(
    to bottom,
    rgb(11 48 64) 0%,
    rgb(9 67 107 / 80%) 40%,
    rgb(21 159 255 / 62%) 80%
  );
  border-top: 1px solid var(--white-medium);
  width: 400px;
}

main aside.sidebar h2 {
  font-size: 1.8rem;
  color: var(--white-medium);
  padding: 2rem;
}

main aside.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main aside.sidebar nav button {
  width: 100%;
  border: none;
  font-size: 1.6rem;
  text-align: left;
  padding: 1.4rem 2.2rem;
  background: rgb(5 47 65 / 78%);
  color: var(--white-medium);
}

/* Principal */

main section.content {
  padding: 4rem;
  background: var(--white-medium);
  width: 100%;
}

main section.content h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--blue);
}

main section.content h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--blue);
  margin: 0.7rem 0;
}

main section.content .principal {
  background: #fff;
  height: 96%;
  box-shadow: 0 0 5px 1px #a9a9a9;
  padding-left: 4rem;
}

main section.content .principal form {
  display: flex;
  align-items: flex-end;
  padding-top: 4rem;
  gap: 1rem;
}

main section.content .principal form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: var(--blue);
}

main section.content .principal form label input,
main section.content .principal form button,
main section.content .principal form label select {
  border: 1px solid var(--white-medium);
  border-radius: 4px;
  box-shadow: 0 0 5px 2px var(--white-medium);
  padding: 5px;
}

main section.content .principal form label select {
  width: 200px;
}

main section.content .principal form label input {
  padding: 6px;
}

main section.content .principal form button {
  padding: 6px;
  width: 30px;
  background: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

main section.content .principal form button:hover {
  background: var(--blue);
  color: var(--white-medium);
}

/* Table */

main section.content .principal .table {
  border: 1px solid #d3d3d3;
  margin: 10px 0;
  background: #ffffff;
  width: 435px;
}

main section.content .principal .table tr th {
  background: var(--blue-dark);
  color: var(--white-medium);
  padding: 8px 10px;
  font-size: 1.2rem;
}

main section.content .principal .table tr td,
main section.content .principal .table tr th {
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 45%;
  font-size: 1.2rem;
}

main section.content .principal .table tr > td {
  color: var(--blue-dark);
  padding: 3px 0;
}

main section.content .principal .table tr td i {
  font-size: 1.5rem;
}
